user = "{{ mysql.mailserver.username }}"
password = "{{ mysql.mailserver.password }}"
dbname = "{{ mysql.mailserver.dbname }}"
hosts = "{{ mysql.mailserver.host }}"
query = SELECT `destination` FROM alias WHERE source = '%s';
