user = {{ mysql.mailserver.username }}
password = {{ mysql.mailserver.password }}
dbname = {{ mysql.mailserver.dbname }}
hosts = {{ mysql.mailserver.host }}
query = SELECT `email` FROM users WHERE email='%s';
