user = "{{ mysql.mailserver.username }}"
password = "{{ mysql.mailserver.password }}"
dbname = "{{ mysql.mailserver.dbname }}"
hosts = "{{ mysql.mailserver.host }}"
query = SELECT `transport` FROM domain WHERE domain='%d';
