---
- name: Create the vmail group
  group:
    name: "{{ vmail.group }}"
    gid: "{{ vmail.gid }}"

- name: Create the vmail user
  user:
    name: "{{ vmail.user }}"
    uid: "{{ vmail.uid }}"
    group: "{{ vmail.group }}"
    home: "{{ mail_data_rootdir }}"
    create_home: yes

- name: Create the main mailbox directory
  file:
    path: "{{ mail_data_rootdir }}"
    state: directory
    owner: "{{ vmail.user }}"
    group: "{{ vmail.group }}"

- name: Create the main SSL key pairs directory
  file:
    path: "{{ mail_data_rootdir }}/keys"
    state: directory
    owner: "{{ vmail.user }}"
    group: "{{ vmail.group }}"
    mode: '0640'

- name: Add NFS mountpoint to /etc/fstab
  lineinfile:
    path: '/etc/fstab'
    line: "{{ nfs.server_ipv4 }}:{{ nfs.server_share }} {{ mail_data_rootdir }} nfs auto 0 0"
    state: present

- name: Make sure systemd is reloaded after editing /etc/fstab
  ansible.builtin.systemd_service:
    daemon_reload: true

- name: Mount NFS volume for mail data
  ansible.posix.mount:
    src: "{{ nfs.server_ipv4 }}:{{ nfs.server_share }}"
    path: "{{ mail_data_rootdir }}"
    opts: auto
    state: mounted
    fstype: nfs

- name: Copy default on-target systemd file to /etc/systemd/system
  copy:
    src: /lib/systemd/system/dovecot.service
    dest: /etc/systemd/system/dovecot.service
    owner: root
    group: root
    mode: '0644'
    remote_src: yes

- name: Modify SystemProtect problematic parameter in dovecot.service
  lineinfile:
    path: /etc/systemd/system/dovecot.service
    regexp: '^ProtectSystem=.*$'
    line: ProtectSystem=false

- name: Make sure systemd is reloaded after editing our dovecot.service
  ansible.builtin.systemd_service:
    daemon_reload: true

- name: Install Dovecot config files
  template:
    src: "{{ item }}.j2"
    dest: "/etc/dovecot/{{ item }}"
    mode: '0640'
  notify: restart dovecot
  loop:
    - dovecot.conf
    - dovecot-sql.conf.ext

- name: Fix ownership and mode of dovecot.conf
  file:
    path: /etc/dovecot/dovecot.conf
    owner: root
    group: "{{ vmail.group }}"
    mode: '0644'

- name: Fix ownership and mode of dovecot-sql.conf.ext
  file:
    path: /etc/dovecot/dovecot-sql.conf.ext
    owner: root
    group: root
    mode: '0640'

- name: Create directory for Sieve scripts
  file:
    path: /etc/dovecot/sieve
    state: directory
    owner: "{{ vmail.user }}"
    group: "{{ vmail.group }}"
    mode: '0750'

- name: Copy default sieve script to move spam and create dynamic subfolders
  copy:
    src: "default.sieve"
    dest: "/etc/dovecot/sieve/default.sieve"
    owner: "{{ vmail.user }}"
    group: "{{ vmail.group }}"
    mode: '0750'

- name: Install Python script for automatic creation of subfolders
  template:
    src: "{{ item }}.j2"
    dest: "/etc/dovecot/sieve/{{ item }}"
    owner: "{{ vmail.user }}"
    group: "{{ vmail.group }}"
    mode: '0750'
  loop:
    - mail_move_dynamic.py

- name: Deploy systemd service file
  copy:
    src: "mail-process.service"
    dest: /etc/systemd/system/mail-process.service
    owner: root
    group: root
    mode: '0644'

- name: Reload systemd to apply new service
  command: systemctl daemon-reload
  args:
    warn: false

- name: Enable mail-process service
  systemd:
    name: mail-process.service
    enabled: yes

- name: Copy spam-learning shell & Sieve scripts + compile rules
  block:
    - name: Copy rspamd learn shell scripts
      copy:
        src: "rspamd-learn-{{ item }}.sh"
        dest: "/etc/dovecot/sieve/rspamd-learn-{{ item }}.sh"
        owner: "{{ vmail.user }}"
        group: "{{ vmail.group }}"
        mode: '0750'
      loop:
      - ham
      - spam

    - name: Copy sieve scripts
      copy:
        src: "learn-{{ item }}.sieve"
        dest: "/etc/dovecot/sieve/learn-{{ item }}.sieve"
        owner: "{{ vmail.user }}"
        group: "{{ vmail.group }}"
        mode: '0750'
      loop:
      - ham
      - spam

    - name: Compile sieve scripts
      command:
        cmd: "sievec /etc/dovecot/sieve/{{ item }}.sieve"
        creates: "/etc/dovecot/sieve/{{ item }}.svbin"
      loop:
        - learn-ham
        - learn-spam
        - default

- name: Start mail-process service
  systemd:
    name: mail-process.service
    state: started
