---
- name: Create the vmail group
  group:
    name: "{{ vmail_group }}"
    gid: "{{ vmail_gid }}"

- name: Create the vmail user
  user:
    name: "{{ vmail_user }}"
    uid: "{{ vmail_uid }}"
    group: "{{ vmail_group }}"
    home: "{{ mail_data_rootdir }}"
    create_home: yes

- name: Create the main mailbox directory
  file:
    path: "{{ mail_data_rootdir }}"
    state: directory
    owner: "{{ vmail_user }}"
    group: "{{ vmail_group }}"

- name: Add NFS mountpoint to /etc/fstab
  lineinfile:
    path: '/etc/fstab'
    line: "{{ nfs_server_ipv4 }}:{{ nfs_server_share }} {{ mail_data_rootdir }} nfs auto 0 0"
    state: present

- name: Install Dovecot config files
  template:
    src: "{{ item }}.j2"
    dest: "/etc/dovecot/{{ item }}"
    mode: '0640'
  notify: restart dovecot
  loop:
    - dovecot.conf
    - dovecot-sql.conf.ext

- name: Fix ownership and mode of dovecot.conf
  file:
    path: /etc/dovecot/dovecot.conf
    owner: root
    group: "{{ vmail_group }}"
    mode: '0644'

- name: Fix ownership and mode of dovecot-sql.conf.ext
  file:
    path: /etc/dovecot/dovecot-sql.conf.ext
    owner: root
    group: root
    mode: '0640'

- name: Create directory for Sieve scripts
  file:
    path: /etc/dovecot/sieve
    state: directory
    owner: root
    group: root
    mode: '0755'

- name: Copy spam-learning shell & Sieve scripts + compile rules
  block:
    - name: Copy rspamd learn shell script
      copy:
        src: "rspamd-learn-{{ item }}.sh"
        dest: "/etc/dovecot/sieve/rspamd-learn-{{ item }}.sh"
        owner: "{{ vmail_user }}"
        group: "{{ vmail_group }}"
        mode: '0700'
      loop:
      - ham
      - spam

    - name: Copy sieve script
      copy:
        src: "learn-{{ item }}.sieve"
        dest: "/etc/dovecot/sieve/learn-{{ item }}.sieve"
        owner: root
        group: root
        mode: '0644'
      loop:
      - ham
      - spam

    - name: Compile sieve script
      command:
        cmd: "sievec /etc/dovecot/sieve/learn-{{ item }}.sieve"
        creates: "/etc/dovecot/sieve/learn-{{ item }}.svbin"
      loop:
        - ham
        - spam
