driver = mysql
connect = host={{mysql_mailserver_dbhost}} dbname={{mysql_mailserver_dbname}} user={{mysql_mailserver_dbusername}} password={{mysql_mailserver_dbpasswd}}
default_pass_scheme = SHA512

iterate_query = SELECT `email` AS user FROM users;
user_query = SELECT `email` AS user, '5000' AS userdb_uid, '5000' AS userdb_gid, CONCAT('*:storage=', `quota`) AS userdb_quota_rule FROM users WHERE email = '%u' AND active = '1';
password_query = SELECT `email` AS user, `crypt` AS password, '5000' AS userdb_uid, '5000' AS userdb_gid, CONCAT('*:storage=', `quota`) AS userdb_quota_rule FROM users WHERE email = '%u' AND active = '1';
