dovecot_config_version = 2.4.1
dovecot_storage_version = 2.4.1

# On active les protocoles LMTP (pour l'interne) et IMAP :
protocols = lmtp imap

# Configuration IMAP (désactivé) et IMAPS :
service imap-login {
	inet_listener imap {
		port = 0
	}
	inet_listener imaps {
		port = 993
	}
}

# Protocole IMAP : déplacements via Sieve + quota + chiffrement +
# recherche textuelle + contournement de certains bugs et contraintes
protocol imap {
	mail_plugins {
		quota = yes
		imap_sieve = yes
		mail_crypt = yes
		fts = yes
		fts-xapian = yes
	}
	imap_client_workarounds = delay-newmail tb-extra-mailbox-sep
}

# Protocoles LDA/LMTP : quota + chiffrement + recherche textuelle :
protocol lda {
	mail_plugins {
		quota = yes
		mail_crypt = yes
		fts = yes
		fts-xapian = yes
	}
}

lmtp_rcpt_check_quota = yes
protocol lmtp {
	mail_plugins {
		quota = yes
		mail_crypt = yes
		fts = yes
		fts-xapian = yes
  }
  postmaster_address = postmaster@{{ mail_domain }}
}

# Emplacement des boites e-mail :
mail_driver = maildir
mail_path = {{ mail_data_rootdir }}/%{user|domain}/%{user|username}
mail_home = {{ mail_data_rootdir }}/%{user|domain}/%{user|username}/Maildir

# Emplacement des attributs de chaque boite mail :
mail_attribute {
	dict file {
		path = %{home}/dovecot-attributes
	}
}

# Configuration SSL (algos) :
ssl = yes
ssl_server_prefer_ciphers = client
ssl_server_dh_file = /etc/dovecot/dh.pem
ssl_min_protocol = TLSv1.2
ssl_cipher_list = ALL:!aNULL:!DES:!3DES:!MD5:!DES+MD5:!RC4

# Certificats Let's Encrypt :
ssl_server_cert_file = /etc/letsencrypt/live/{{ mail_fqdn }}/fullchain.pem
ssl_server_key_file  = /etc/letsencrypt/live/{{ mail_fqdn }}/privkey.pem

# Configuration des logins :
auth_mechanisms = plain login
auth_allow_cleartext = yes

# Message d'accueil :
login_greeting = "Mail Delivery Agent OK."

# Chemin et permissions pour l'authentification +
# vsz_limit à 2 Go max pour pouvoir manipuler de fortes
# fonctions de chiffrement de clefs comme Argon2 :
service auth {
	unix_listener /var/spool/postfix/private/auth {
		group = postfix
		user = postfix
		mode = 0666
	}
	vsz_limit = 2G
}

service auth-worker {
	vsz_limit = 2G
}

service lmtp {
	unix_listener /var/spool/postfix/private/dovecot-lmtp {
		group = postfix
		user = postfix
		mode = 0666
	}
}

# ID par défaut des utilisateurs virtuels :
mail_uid=5000
mail_gid=5000

# Authentification via la base MySQL :
sql_driver = mysql

mysql {{ mysql.mailserver.host }} {
	user = {{ mysql.mailserver.username }}
	password = {{ mysql.mailserver.password }}
	dbname = {{ mysql.mailserver.dbname }}
}

# La requête pour vérifier le mot de passe :
passdb sql {
	query = SELECT `email` AS user, \
		`crypt` AS password, \
		'%{password}' AS userdb_crypt_user_key_password, \
		'5000' AS userdb_uid, \
		'5000' AS userdb_gid, \
		CONCAT('*:storage=', `quota`) AS userdb_quota_rule \
		FROM users \
		WHERE email = '%{user}' \
		AND active = '1';
}

# La requête pour vérifier les utilisateurices + la requête
# iterate_query pour la commande 'doveadm -A' :
userdb sql {
	query = SELECT `email` AS user, \
		'5000' AS userdb_uid, \
		'5000' AS userdb_gid, \
		CONCAT('*:storage=', `quota`) AS userdb_quota_rule \
		FROM users \
		WHERE email = '%{user}' \
		AND active = '1';

	iterate_query = SELECT `email` AS user \
		FROM users;
}

userdb prefetch {
	driver = prefetch
}

# Règles du plugins pour les quota (avec 10% de dépassement autorisé) :
mailbox_list_index = yes
quota "User quota" {
	quota_storage_size = 5G
	quota_mail_size = 30M
	quota_storage_percentage = 110
	quota_status_success = DUNNO
	quota_exceeded_message = "552 5.2.2 Mailbox is full"
}

# Règles du plugin mail-crypt (chiffrement du stockage des mails) :
crypt_user_key_curve = secp521r1
crypt_user_key_require_encrypted = yes

# Règles du plugin pour la recherche textuelle avec ftp-xapian :
fts xapian {
	verbose = 0
	maxthreads = 4
	partial = 3
}
fts_autoindex = yes

# Langue obligatoire pour dovecot bien qu'inutile pour fts-xapian :
language "en" {
	default = yes
}

# Règles pour Sieve :
sieve_pipe_bin_dir = /etc/dovecot/sieve

sieve_script after {
	type = after
	path = /etc/dovecot/sieve/default.sieve
}

# Règles pour les plugins de Sieve :
sieve_global_extensions {
	vnd.dovecot.pipe = yes
}

sieve_plugins {
	sieve_imapsieve = yes
	sieve_extprograms = yes
}

# Apprendre le ham en déplaçant hors du Spam :
imapsieve_from Junk {
	sieve_script ham {
		type = before
		cause = copy
		path = /etc/dovecot/sieve/learn-ham.sieve
	}
}

# Apprendre le spam en déplaçant vers le Spam :
mailbox Junk {
  sieve_script spam {
    type = before
    cause = copy
    path = /etc/dovecot/sieve/learn-spam.sieve
  }
}

# Définition du service pour gérer les quota :
service quota-status {
	executable = quota-status -p postfix
	unix_listener /var/spool/postfix/private/quota-status {
		user = postfix
	}
	client_limit = 1
}

# Stockage des mails via NFS (stockage ZFS) + indexation :
mail_nfs_storage = yes
lock_method = dotlock
dotlock_use_excl = yes
mmap_disable=yes
mail_fsync=always
mail_nfs_index = yes

# On inscrit les utilisateurices à tous les dossiers classiques ainsi
# qu'aux dossiers perso (Shopping, etc.) et on auto-nettoie le Spam et
# la corbeille après 60 jours :
namespace inbox {
	mailbox "Sent" { 
		special_use = \Sent
		auto = subscribe
	}
	mailbox "Junk" {
		quota_ignore = yes
		special_use = \Junk
		auto = subscribe
		autoexpunge = 60d
	}
	mailbox "Drafts" {
		special_use = \Drafts
		auto = subscribe
        }
	mailbox "Trash" { 
		quota_ignore = yes
		quota_message_percentage = 110
		special_use = \Trash
		auto = subscribe
		autoexpunge = 60d
	}
	mailbox "Archives" {
		special_use = \Archive
		auto = subscribe
	}
	mailbox "to-process" {
		auto = no
	}
	inbox = yes
}

# On les abonne aussi aux sous-dossiers perso :
lda_mailbox_autosubscribe = yes

# On active l'API HTTP de doveadm sur le port exposé 8666 :
doveadm_api_key = {{ doveadm_api_key }}

service doveadm {
	unix_listener doveadm-server {
		user = vmail
	}
	
	inet_listener {
		port = 2425
	}
	
	inet_listener http {
		port = 8666
		ssl = yes
	}
}
