---
- name: Generate rndc key
  command:
    cmd: "rndc-confgen -a -c /etc/bind/rndc.key"
    creates: "/etc/bind/rndc.key"

- name: Set permissions on rndc key file
  file:
    path: "/etc/bind/rndc.key"
    owner: bind
    group: bind
    mode: "0640"
  notify: reload rndc

- name: Add zones to bind's configuration
  template:
    src: named.conf.options.j2
    dest: "/etc/bind/named.conf.options"
    mode: "0640"
    owner: root
    group: bind

- name: Create the bind cache dir if missing
  file:
    path: "/var/cache/bind"
    state: directory
    owner: root
    group: bind
    mode: "0755"
  notify: restart bind
  
- name: Start and enable bind
  service:
    name: "bind9.service"
    state: started
    enabled: true
