include "/etc/bind/rndc.key";

acl goodclients {
    {{ trusty_networks.dns_trusty_network }};
    localhost;
    localnets;
};

options {
    directory "/var/cache/bind";
    recursion yes;
    allow-query { goodclients; };
    allow-recursion { goodclients; };

    forwarders {
        {{ trusty_networks.dns_forwarded_ipv4[0] }};
        {{ trusty_networks.dns_forwarded_ipv4[1] }};
        {{ trusty_networks.dns_forwarded_ipv6[0] }};
        {{ trusty_networks.dns_forwarded_ipv6[1] }};
    };
    forward only;
    dnssec-validation auto;

    auth-nxdomain no;    # conform to RFC1035
    listen-on-v6 { any; };
};
