include "/etc/bind/rndc.key";

acl goodclients {
    "{{ trusty_networks.dns_trusty_network }}";
    localhost;
    localnets;
};

options {
    directory "/var/cache/bind";
    recursion yes;
    allow-query { goodclients; };
    allow-recursion { {{ trusty_networks.loopbacks.ipv4 }}; {{ trusty_networks.dns_trusty_network }}; };
    listen-on { {{ trusty_networks.loopbacks.ipv4 }}; {{ trusty_networks.lan_ipv4 }}; };
    allow-query { any; };
    dnssec-validation yes;

    auth-nxdomain no;    # conform to RFC1035
    listen-on-v6 { any; };
};
